body {
	background-color: white;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
}

.navbar {
	background-color: #2d1152;
}

.feedback {
	width: 450px;
	height: 40px;
}
a {
	color: white !important;
}

a:hover {
	background-color: green;
	font-weight: bold;
}

i {
	display: block;
	float: left
	;
}

.header1 {
	color: white;
	display: block;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	padding: 10px;
	background-color: #f8f8f8;
	color: #666;
}

img {
	color: white;
	display: inline-block;
	height: 111px;
	width: 333px;
	padding: 5px;
	border: 15px;
	display: block;
	margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 30%;
}

li {
    display: inline;
    margin-left: 20px;
    list-style-type: none;
}

.SandP {
	width: 50% !important;
	float: center;
}

#secret {

}

